@media screen and (min-width: 768px) {
    .block__image-width-slider-arrows{
        position: absolute;
        width: 100%;
        top: 300px;
        display: flex;
        justify-content: space-between;
    }
    .block__image-width-slider-arrows .arrow_prev {
        left: -3%;
    }
    .block__image-width-slider-arrows .arrow_next {
        right: -3%;
    }    
}
